*{
    box-sizing: border-box;

}
body{
    background-image: url(small/pngtree-black-minimalist-atmospheric-wooden-background-backgroundwooden-backgroundtree-texture-image_77053.jpg);
    background-size:100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container{
    background:rgba(0, 0, 0,.1);

}
@font-face{

        font-family: Riqsfont;
        src: url('fonts/Epiphany.ttf');

    
}
@font-face{
    font-family: headers;
    src: url('fonts/Get\ Show.ttf');
}
.nav{
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
}
.logo{
    height: auto;
    width: 30%;
    margin: 0 auto;
}
#img{
    height: auto;
    width: 47.5%;
    margin: 10px;
    flex: 0 0 48%;
    
}
h1{
    font-family: headers;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0,0.5);
    font-size: 100px;
}
.bio
{
    text-align: center;
    opacity: 0.1;
    display: flex;
    color: white;
    font-family: riqsfont;
    text-shadow: 0 0 3px black;
    margin-bottom: 100px;
    font-size: 40px;
    margin: 50px auto;
    padding: 90px;
}
.photography
{
    
    
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.illustration{
    display: flex;
    flex: 0 0 100%;
    width: 100%;
    flex-wrap: wrap;
}
.image{
    display: flex;
    padding: 20px;
  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
@media(max-width:425.5px)
{
    *{
        box-sizing: border-box;
    
    }
    body {
       
        background-image: url(small/pngtree-black-minimalist-atmospheric-wooden-background-backgroundwooden-backgroundtree-texture-image_77053.jpg);
        background-size:100% 100%;
        background-repeat: no-repeat;
        
        
    }
    .container{
        background-image: url(small/pngtree-black-minimalist-atmospheric-wooden-background-backgroundwooden-backgroundtree-texture-image_77053.jpg);
        background-size:100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: auto;
    
    }
    @font-face{
    
            font-family: Riqsfont;
            src: url('fonts/Epiphany.ttf');
    
        
    }
    @font-face{
        font-family: headers;
        src: url('fonts/Get\ Show.ttf');
    }
    .nav{
        display: flex;
        margin-bottom: 40px;
        
    }
    .logo{
        height: auto;
        width: 30%;
        margin: 20 auto;
    }
    #img{
        height: auto;
        width: 100%;
        margin: 5px 0 5px 0;
        
    }
    h1{
        font-family: headers;
        color: white;
        text-shadow: 4px 4px 10px black;
        font-size: 50px;
    }
    .bio
    {
        display: flex;
        color: white;
        opacity: .3;
        font-family: riqsfont;
        text-shadow: 0 0 3px black;
        margin-bottom: 100px;
        margin-top: 100px;
        font-size: 18px;
        padding: 25px;
    }
    .photography
    {
        display: flex;
        flex: 0 0 100%;
        width: 100%;
        flex-wrap: wrap;
    }
    .illustration{
        margin-top: 40px;
        display: flex;
    flex: 0 0 100%;
    width: 100%;
    flex-wrap: wrap;
    }

}
